/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.navbar {
  z-index: 5 !important;
}

.users-pane {
  background: #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 42px;
  right: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}

.users {
  position: absolute;
  top: 30px;
  left: 10px;
  right: 10px;
}

.user {
  border-radius: 8px;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 10px;
  display: block;
  min-height: 60px;
  padding-bottom: 1px;
}

.user-titlebar {
  background: #b9b9b9;
  border-radius: 8px 8px 0 0;
  min-height: 21px;
}

.user-title {
  color: white;
  font-weight: bold;
  text-shadow: -1px 1px 0 black;
  margin-left: 10px;
}

.user-ip {
  color: #999;
  margin-right: 10px;
  float: right;
}

.channel {
  margin: 10px;
  
}

.sidebar {
  background: white;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 42px;
  width: 300px;
}

.sidebar > h2, .users-pane > h2 {
  color: #999;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 10px;
  top: 5px;
  line-height: 100%;
}

.messages {
  background: white;
  position: absolute;
  bottom: 70px;
  left: 10px;
  right: 10px;
  top: 30px;
  border: 1px solid #ddd;
  overflow-x: hidden;
  overflow-y: auto;
}

.message {
    font-size: 85%;
    padding: 2px 6px;
}
.message.msg .sender:after {
    content: ": ";
}
.message.msg {
    color: black;
}
.message.part .sender:after,
.message.join .sender:after {
    content: " ";
}
.message.part {
    background: #eee;
    color: #999;
}
.message.join {
    background: #E1F1DC;
    color: #000;
}

.sidebar > textarea {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 40px;
  width: 266px;
  margin-bottom: 0;
}
