  <div class="serverbrowser-pane" ng-controller="ServerBrowser">
    <h1>Choose a Server</h1>
    <p>To jam with other musicians, first you need to choose a server to connect to.</p>
    
    <tabs>
        <pane heading="Public">
            <accordion close-others="true">
              <accordion-group heading="{{server.host}}" ng-repeat="server in publicServers">
                <form class="connect-form" name="form">
                  
                    <label>Username</label>
                    <input name="host" type="hidden" value="{{server.host}}" />
                    <input name="user" type="text" value="NinjamJSUser" />
                  
                  <div>
                    <label>Password</label>
                    <input name="pass" type="text" placeholder="Blank for Anonymous" />
                  </div>
                  <div>
                    <label></label>
                    <input type="submit" value="Connect" class="btn btn-primary" ng-click="connect(form)" />
                  </div>
                </form>
              </accordion-group>  
            </accordion>
        </pane>
        <pane heading="Recent">
        
        </pane>
        <pane heading="Custom">
        
        </pane>
    </tabs>
    
    <!--label>Default Username</label>
    <input type="text" placeholder="e.g. HeroOfGuitars" ng-model="defaultUsername">
    <label>Server Host</label>
    <input type="text" placeholder="e.g. ninbot.com:2049" ng-model="host">
    <br>
    <button class="btn btn-primary" ng-click="connect()">Connect</button-->
  </div>
