<div class="serverbrowser-pane" ng-controller="ServerBrowser">
  <h1>Choose a Server</h1>
  <p>To jam with other musicians, first you need to choose a server to connect to.</p>
  
  <tabs>
    <pane heading="Public">
      <accordion close-others="true">
        <!--server ng-repeat="server in publicServers" host="{{server.host}}"></server-->
        <accordion-group ng-repeat="server in publicServers" heading="{{server.host}}" ng-controller="ServerConnectForm">
          <form class="connect-form" name="form">
            <div>
              <label>Username</label>
              <input name="host" type="hidden" value="{{server.host}}" />
              <input name="user" ng-model="data.user" type="text" value="NinjamJSUser" />
            </div>
            <div>
              <label>Password</label>
              <input name="pass" ng-model="data.pass" type="text" placeholder="Blank for Anonymous" />
            </div>
            <div>
              <label></label>
              <button class="btn btn-primary" ng-click="connect(server.host, form.user.$modelValue, form.pass.$modelValue)">Connect</button>
            </div>
          </form>
        </accordion-group>
      </accordion>
    </pane>
    <pane heading="Recent">
      <p>Nothing here yet.</p>
    </pane>
    <pane heading="Custom">
      <form name="form">
        <label>Server Host</label>
        <input name="host" ng-model="data.host" type="text" placeholder="e.g. ninbot.com:2049">
        <label>Default Username</label>
        <input name="user" ng-model="data.user" type="text" placeholder="e.g. HeroOfGuitars" value="NinjamJSUser">
        <label>Default Username</label>
        <input name="pass" ng-model="data.pass" type="text" placeholder="Blank for Anonymous">
        <br>
        <button class="btn btn-primary" ng-click="connect(form.host.$modelValue, form.user.$modelValue, form.pass.$modelValue)">Connect</button>
      </form>
    </pane>
  </tabs>
  
  
</div>
