  <div class="users-pane" ng-controller="UsersPane">
    <h2>Users and Channels</h2>
    <div class="users">
      <div class="user" ng-repeat="user in ninjam.users">
        <div class="user-titlebar">
          <div class="user-ip">{{user.ip}}</div>
          <div class="user-title">{{user.name}}</div>
        </div>
        <div class="channels">
          <div class="channel user" ng-repeat="channel in user.channels">
            <div class="user-titlebar">
              <div class="user-title">{{channel.name}}</div>
            </div>
            <p>Volume: "{{channel.volume}}"</p>
            <p>Pan: "{{channel.pan}}"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="sidebar" ng-controller="ChatPane">
    <h2>Chat</h2>
    <div class="messages" id="messages">
      <div ng-repeat="message in messages" class="message {{message.type}}">
        <span class="sender">{{message.sender}}</span>{{message.content}}
      </div>
    </div>
    <textarea rows="2" ng-disabled="ninjam.status != 'authenticated'" ui-keypress="{13:'chatSubmit($event)'}"></textarea>
  </div>
