  <div class="users-pane" ng-controller="UsersPane">
    <h2>Users and Channels</h2>
    <div class="users">
      <div class="panel panel-primary user">
        <div class="panel-heading user-titlebar">
          <span class="user-ip">(You)</span>
          <span class="user-title">{{ninjam.username}}</span>
        </div>
        <div class="panel-body">
          <div class="channels">
            <div ng-repeat="channel in ninjam._localChannels" class="channel">
              <div class="btn-group">
                <button class="btn btn-default" disabled>-</button>
                <button class="btn btn-default" disabled>-</button>
                <button class="btn btn-default" disabled>{{ channel.name }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-repeat="user in ninjam.users" class="panel panel-default user">
        <div class="panel-heading user-titlebar">
          <span class="user-ip">{{user.ip}}</span>
          <span class="user-title">{{user.name}}</span>
        </div>
        <div class="panel-body">
          <div class="channels">
            <div ng-repeat="channel in user.channels" class="channel">
              <div class="btn-group">
                <button class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[channel.localMute]" ng-click="channel.toggleMute()">M</button>
                <button class="btn" ng-class="{true: 'btn-danger', false: 'btn-default'}[channel.localSolo]" ng-click="channel.localSolo = !channel.localSolo">S</button>                    
                <button class="btn btn-default" ng-click="channel.getSimpleOutputLevel()"><progressbar class="volume-bar" value="channel.frequencyData[0]"></progressbar></button>
                <button class="btn btn-default" disabled>{{ channel.name }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--div class="user" ng-repeat="user in ninjam.users">
        <div class="user-titlebar">
          <div class="user-ip">{{user.ip}}</div>
          <div class="user-title">{{user.name}}</div>
        </div>
        <div class="channels">
          <div class="channel user" ng-repeat="channel in user.channels">
            <div class="user-titlebar">
              <div class="user-title">{{channel.name}}</div>
            </div>
            <p>Volume: "{{channel.volume}}"</p>
            <p>Pan: "{{channel.pan}}"</p>
          </div>
        </div>
      </div-->
    </div>
  </div>
  
  <div class="sidebar" ng-controller="ChatPane">
    <h2>Chat</h2>
    <div class="messages panel" id="messages">
      <div ng-repeat="message in messages" class="message {{message.type}}">
        <span class="sender">{{message.sender}}</span>{{message.content}}
      </div>
    </div>
    <textarea rows="2" class="form-control" ng-disabled="ninjam.status != 'authenticated'" ui-keypress="{13:'chatSubmit($event)'}"></textarea>
  </div>
