<accordion-group heading="{{host}}">
  <form class="connect-form" name="form">
    
      <label>Username</label>
      <input name="host" type="hidden" value="{{host}}" />
      <input name="user" ng-model="user" type="text" value="NinjamJSUser" />
    
    <div>
      <label>Password</label>
      <input name="pass" ng-model="pass" type="text" placeholder="Blank for Anonymous" />
    </div>
    <div>
      <label></label>
      <button class="btn btn-primary" ng-click="alert($parent)">Connect</button>
    </div>
  </form>
</accordion-group>
