<!DOCTYPE html>
<html lang="en" ng-csp ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Ninjam JS: Music Collaboration in the Browser</title>
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="lib/angular/angular-csp.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-cloak ng-controller="AppController">
  <div class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderPane">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ninjam JS</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        
      </ul>
      <span ng-show="ninjam.status=='authenticated'">
        <!-- Dropdown Button -->
        <div class="btn-group navbar-right">
          <button class="btn" ng-class="{true: 'btn-danger', false: 'btn-default'}[ninjam.metronomeMute]" ng-click="ninjam.toggleMetronomeMute()" tooltip="Mute Metronome"><img src="img/ic_metronome_black.svg"></button>
          <button class="btn" ng-class="{true: 'btn-danger', false: 'btn-default'}[ninjam.microphoneMute]" ng-click="ninjam.toggleMicrophoneMute()" tooltip="Mute Microphone"><img src="img/ic_mic_mute_black.svg"></button>
          <button class="btn" ng-class="{true: 'btn-danger', false: 'btn-default'}[ninjam.masterMute]" ng-click="ninjam.toggleMasterMute()" tooltip="Mute All Sounds"><img src="img/ic_speaker_mute_black.svg" width="16"></button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <img src="img/ic_more_black.svg"> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="ninjam.debug = !ninjam.debug">Toggle debug panel</a></li>
            <li class="divider"></li>
            <li><a ng-click="ninjam.disconnect()">Disconnect</a></li>
          </ul>
        </div>
        <progressbar animate="false" value="((ninjam.currentBeat + 1) / ninjam.bpi) * 100" type="success" class="navbar-right"></progressbar>
      </span>
    </div>
  </div>
  <ng-view></ng-view>

  <div class="debug" ng-controller="DebugPane" ng-show="ninjam.debug">
    <p>status: {{ninjam.status}}</p>
    <p>host: {{ninjam.host}}</p>
    <p>port: {{ninjam.port}}</p>
    <p>username: {{ninjam.username}}</p>
    <p>audioIntervals:</p>
    <ul>
      <li ng-repeat="inv in ninjam._audioIntervals">{{inv.username}} ({{inv.chunks.length}})</li>
    </ul>
    <p>users:</p>
    <ul ng-repeat="u in ninjam.users">
      <li ng-repeat="c in u.channels">{{u.name}}[{{$index}}] ({{c.readyIntervals.length}})</li>
    </ul>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/sha1.js"></script>
  <script src="lib/ui-utils-0.1.1/ui-utils.min.js"></script>
  <script src="lib/ui-bootstrap/ui-bootstrap-custom-0.10.0.min.js"></script>
  <script src="lib/ui-bootstrap/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
